nav{
    display: flex;
    justify-content:space-between;
    background-color: white;
    align-items: center;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
  
}
.nav-links li a{
    text-decoration:none;
    font-size:20px;
}
.logo{
    max-width: 200px;

}
body{
    background-color: white;
    margin: 0;
}

.part1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9375ff;
    margin: 0;
    

}
h2, p{
    color: white;
    font-size:30px;
    font-family: quicksand;
    max-width: 100%;
}
.button-1{
    background-color: yellow;
    width: 30%;
    align-items: center;
    color:#00a69c;
    font-size: 30px;
    border-radius: 10%;
}
.part1-img{
    max-width: 100%;
}
.part2{
color: #00a69c;
text-align: center;
font-size: 30px;
}
.part3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    min-height: 300px;
}
.part3-1{
    background-color: white;
}
.div-img{
    background-color: yellow;
    border-radius: 50%;
    padding: 20px;
}
.part3-img{
    max-width: 100px;
}
.part3-1p{
    color: black;
    text-align: center;
}
.part3-2{
    background-color: white;
}
.div-img1{
    background-color: yellow;
    border-radius: 50%;
    padding: 20px;
}
.part3-img1{
    max-width: 100px;
}
.part3-2p{
    color: black;
    text-align: center;
}
.part3-3{
    background-color: white;
}
.div-img2{
    background-color: yellow;
    border-radius: 50%;
    padding: 20px;
}
.part3-img2{
    max-width: 100px;
}
.part3-3p{
    color: black;
    text-align: center;
}
.part4{
display: flex;
justify-content:space-around;
align-items: center;
}
.part4-img{
    max-width: 150px;
    
}
h3 {
    color: #00a69c;
    font-size: 20px;
   
}
.part4-p{
    color:silver;
    font-size: 16px;
  width: 500px;

}
ol{
    color:silver;
    font-size: 14px;
   
}
.part4-img1{
    max-width: 150px;
  
}
.part4-img2{
    max-width: 150px;
}
.part5{
    background-color: #0c1753;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
h4{
    color: white;
    font-size: 50px;
    margin-top: 3cm;
    margin-left: 2cm;
}
.part5-p{
    font-size: 20px;
    margin-right: 3cm;
    margin-top: 1cm;
}
.input{
    width: 300px;
    height: 40px;
}
.input1{
    width: 613px;
    height: 40px;
}
.input2{
    width: 613px;
    height: 100px;
    margin-top: 0;
}
.part6{
    display: flex;
    justify-content:space-around;
    background-color: whitesmoke;
    align-items: center;  
}
.footer-img{
    width: 300px;
    margin-left: 0; 
}
h5{
    color: #00a69c;
    font-size: 20px;
    margin-top: 3cm;
}
.div-links{
    list-style: none;
}
.div-links li a{
    text-decoration:none;
    font-size:25px;
    text-decoration: none;
}
footer{
    background-color: #9375ff;
    display: flex;
    justify-content: space-around;
}
.footer-p{
    text-align: center;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .part1{
        flex-direction: column
    }
}
@media only screen and (max-width: 600px) {
    .part2{
        flex-direction: column
    }
}
@media only screen and (max-width: 600px) {
    .part3{
        flex-direction: column
    }
}

@media only screen and (max-width: 600px) {
    .part4{
        flex-direction: column
    }
}